*{
	box-sizing: border-box;
}
body{
	background-color: #23252f;
	color: #9E9E9E;
	margin: 0;
	padding: 0;
	
	
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Asar', serif;*/
}

/*== MOBILE =================================================================*/

.stage{
	width: 100%;
	background-color: #23252f;
	/*background-color: #000;*/
}



.menu{
	background-color: #23252f;
	/*background-color: #1f1f1f;*/
	display: table;
	width: 100%;
	max-width: 768px;
	position: fixed;
	top: 0;
}

.menu_fix{
	display: table-row;
	width: 100%;
	 
}

.menu_bt{
	display: table-cell;
	padding: 10px;
}
.menu_bt--left, .menu_bt--right{
	width: 10%;
	}
	.menu_bt--left{
		text-align: left;
	}
	.menu_bt--right{
		text-align: right;
	}
.menu_bt--center{
	width: 80%;
	text-align: center;
}
.menu_title{
	width: 100%;
	height: 20px;
	overflow: hidden;
}

.page__titulo{
	font-family: 'Asar', serif;
	margin: 40px 0 0 0;
	text-align: center;
	font-weight: normal;
	border-radius: 5px;
	padding: 30px;

}
.page__text{
	padding: 10px;
	font-family: 'Asar', serif;
	font-size: 1.3em;
	color: #aEaEaE;
	line-height: 1.6em;
	}
	.page__text p{
		margin-bottom: 60px;
	}

.page__info{
	padding: 10px;
	/*font-family: 'Asar', serif;*/
	font-size: 1em;
	color: #aEaEaE;	
	}
	.page__info a{
		text-decoration: none;
		color: #fff;
	}


/*sun mode*/

.sun-mode.stage{
	background-color: #fff;
	color: #333;
}
.sun-mode .menu{
	background-color: #fff;
}


.icon-mode--moon{ display: none;}
.sun-mode .icon-mode--moon{ display: inline;}

.icon-mode--sun{ display: inline; }
.sun-mode .icon-mode--sun{ display: none; }

@media screen and (min-width: 48em){
/*== DESKTOP =================================================================*/
	.stage{
		max-width: 768px;
		margin: 0 auto;
	}
}

@media print {
/*== PRINT ====================================================================*/
}


/*Cores*/
.corok0 {
	color: #FBC02D;
	background-color: #303F9F;

}

.cor0 {color: #D32F2F; background-color: #FBC02D} 
.cor1 {color: #FF4081; background-color: #303F9F} 
.cor2 {color: #7B1FA2; background-color: #03A9F4} 
.cor3 {color: #7B1FA2; background-color: #CDDC39} 
.cor4 {color: #7C4DFF; background-color: #CDDC39} 
.cor5 {color: #7C4DFF; background-color: #FFEB3B} 
.cor6 {color: #00BCD4; background-color: #303F9F} 
.cor7 {color: #00BCD4; background-color: #455A64} 
.cor8 {color: #03A9F4; background-color: #303F9F} 
.cor9 {color: #00796B; background-color: #CDDC39} 
.cor10 {color: #009688; background-color: #CDDC39} 
.cor11 {color: #CDDC39; background-color: #5D4037} 
.cor12 {color: #CDDC39; background-color: #455A64} 
.cor13 {color: #FBC02D; background-color: #7C4DFF} 
.cor14 {color: #FBC02D; background-color: #5D4037} 
.cor15 {color: #FFEB3B; background-color: #D32F2F} 
.cor16 {color: #FFEB3B; background-color: #FF4081} 
.cor17 {color: #FFEB3B; background-color: #448AFF} 
.cor18 {color: #FFEB3B; background-color: #00796B} 
.cor19 {color: #FFEB3B; background-color: #607D8B} 
.cor20 {color: #FF9800; background-color: #795548} 
.cor21 {color: #FF5722; background-color: #303F9F} 
.cor22 {color: #FF5722; background-color: #455A64} 
.cor23 {color: #5D4037; background-color: #FF4081} 
.cor24 {color: #5D4037; background-color: #FBC02D} 
.cor25 {color: #5D4037; background-color: #F57C00} 
.cor26 {color: #9E9E9E; background-color: #7B1FA2} 
.cor27 {color: #607D8B; background-color: #CDDC39}